@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;

    // Default layout
    --default-layout-header-height: 80px;
    --default-layout-width: 1140px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

@font-face {
    font-family: Play;
    src: url('/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
    font-weight: 400;
}
