.init {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 3;
}

.top {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    animation-name: top;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 3;
}

.down {
    width: 100%;

    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    animation-name: down;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 3;
}

@keyframes top {
    from {
        background-color: #fff;
    }
    to {
        background-color: transparent;
    }
}

@keyframes down {
    from {
        background-color: transparent;
    }
    to {
        background-color: #fff;
    }
}
.inner {
    //height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: left;
    width: 25%;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.logo-link {
    box-shadow: none;
    display: flex;
}

.logo {
    width: 90%;
    height: auto;
}
