.top {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    //height: var(--default-layout-header-height, 60px);

    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background: transparent;
    z-index: 3;
}

.down {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    //height: var(--default-layout-header-height, 60px);

    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #fff !important;
    z-index: 3;
}

.inner {
    //height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: left;
    width: 25%;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.logo-link {
    box-shadow: none;
    display: flex;
}

.logo {
    width: 90%;
    height: auto;
}
